.modal {
    transition: opacity 0.50s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.opacity-95 {
    opacity: .95;
}

.modal-text p{
    margin-bottom: 8pt;
}

.modal-text p .text-3xl, .text-2xl, .text-xl, .text-l{
    font-weight:600;
}

.modal-text li{
    list-style: circle;
    margin-left:30px;
}