.theme-item{
    color:#3B3B3B;
}

.theme-button{
    color: #ffffff;
    background-color:#3B3B3B;
    transition: 0.5s;
}

.theme-button:hover{
    background-color: #6B6B6B;
}

.background {
    background: rgb(56,56,56);
    background: linear-gradient(90deg, rgba(56,56,56,1) 0%, rgba(74,74,74,1) 100%);

    /*background-image:url('../image/background.jpg');*/
    /*!* Fallback Colour *!*/
    /*background-color: #07071a;*/
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
}